---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/logo.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dynamic MetalWorks</title>
  </head>
  <body class="font-sans antialiased dark">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
